<p id="notice"><%= notice %></p>

<h1>Face Compares</h1>

<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Photo compare</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @face_compares.each do |face_compare| %>
      <tr>
        <td><%= face_compare.profile %></td>
        <td><%= face_compare.photo_compare %></td>
        <td><%= face_compare.result %></td>
        <td><%= link_to 'Show', face_compare %></td>
        <td><%= link_to 'Edit', edit_face_compare_path(face_compare) %></td>
        <td><%= link_to 'Destroy', face_compare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Face Compare', new_face_compare_path %>
